.accordion-container {
  margin: 0 1rem;
}

.move-item-center {
  margin: 0 auto;
}
.button-container{
  
}

.admin-layout-container{
  // z-index: 99;
  background-color: var(--bs-body-bg) !important;
}