$white-color: #fff;
$black-color: #000;
@keyframes opacityFade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.4;
  }
}
.header__logo {
  h2 {
    color: $white-color;
  }
  img{
    max-width: 600px;
    max-height: 50px;
  }
}
.header-container {
  // position: sticky;
  z-index: 1;
  animation: opacityFade ease-in-out 1s;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header_nav {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    .header_nav__item + .header_nav__item {
      padding: 0 20px;
    }
    .header_nav__item {
      a {
        text-decoration: none;
        color: var(--white-color);
        font-size: 1.2rem;
        font-weight: 600;
      }
      position: relative;
      .sub_nav {
        margin-top: 15px;
        display: none;
        background-color: $white-color;
        position: absolute;
        list-style: none;
        padding: 20px;
        .sub_nav_item {
          min-width: 150px;
          min-height: 40px;
          a {
            color: $black-color;
          }
        }
        &::before {
          border-color: yellow blue red green;
          border-style: solid;
          border-width: 0px 20px 20px 0px;
          height: 0px;
          width: 0px;
          // position: relative;
          top: 0;
          left: 0;
          z-index: 2;
          background-color: #000;
          content: "";
          position: absolute;
        }
      }

      &:hover .sub_nav {
        display: block;
      }
    }
    .icon_white-color {
      color: $white-color;
    }
    #custom-btn {
      //   min-width: 100px;
      //   height: 34px;
      padding: 10px 50px;
      font-weight: 600;
      text-decoration: none;
      border-radius: 25px;
      outline: none;
      cursor: pointer;
      //   background: linear-gradient(to bottom right, blue, pink);
      background-image: -webkit-linear-gradient(
        169deg,
        #5560ff 17%,
        #aa52a1 63%,
        #ff4343 100%
      );
    }
    .header_nav__item {
      position: relative;
      .user-submenu {
        display: none;
        position: absolute;
        min-width: 150px;
        background-color: #0a1e5e;
        li {
          padding: 5px 20px;
          cursor: pointer;
          &:hover {
            background-color: pink;
          }
          a {
            color: $white-color;
            font-size: 1rem !important;
          }
        }
      }
      &:hover .user-submenu {
        display: block;
      }
      .header_nav__item-avartar {
        display: flex;
        // align-items: center;
        p{
          font-size: .8rem;
          padding: 3px 0 0 5px;
        }
      }
    }
  }
}
