$white-color: #fff;
$black-color: #000;

.movies-section {
  padding-top: 120px;
  .section-header-1 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #1a2a47;
    padding-bottom: 10px;
    position: relative;
    .title {
      text-transform: uppercase;
      color: $white-color;
    }
    &::before {
      left: 0;
      bottom: -1px;
      width: 98px;
      height: 3px;
      background: #31d7a9;
      content: "";
      position: absolute;
    }
    a {
      text-decoration: none;
      // color: $black-color;
    }
  }
}

// @media screen and (min-width: 992px) {
//   .search-ticket-section {
//     margin-top: -150px;
//     position: relative;
//     z-index: 9;
//     padding-top: 0 !important;
//   }
// }
// .search-ticket-section {
//   position: relative;
//   margin-top: -150px;
//   z-index: 9;
//   padding-top: 0 !important;
// }
.modal-container {
  padding: 20px;
  max-height: 90vh;
  position: relative;
  min-width: auto;
  width: 51vw;
  -webkit-font-smoothing: subpixel-antialiased !important;

  @media (--sp) {
    min-width: auto;
    width: 90vw;
  }
}
.small-modal-container {
  padding: 20px;
  max-height: 90vh;
  position: relative;
  min-width: auto;
  width: 20vw;
  min-width: 550px;
  -webkit-font-smoothing: subpixel-antialiased !important;

  @media (--sp) {
    min-width: auto;
    width: 90vw;
    min-width: unset;
  }
}

.modal-container-custom {
  padding: 20px;
  max-height: 90vh;
  position: relative;
  min-width: auto;
  width: 40vw;
  -webkit-font-smoothing: subpixel-antialiased !important;

  @media (--sp) {
    min-width: auto;
    width: 90vw;
  }
}
